body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.theme-switch {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Switch back dark */
.theme-switch.dark-mode {
    background-color: #333;
}

/* Switch button */
.switch-handle {
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.theme-switch.dark-mode .switch-handle {
    transform: translateX(30px);
}

/* Body dark */
body.dark-mode {
    background-color: #2d2d2d;
    color: #ffffff;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode .bg-gray-100 {
    background-color: #121212;
}

/* Cards dark */
body.dark-mode .bg-white {
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Sidebar dark */
body.dark-mode .bg-gray-800 {
    background-color: #121212;
}

/* Texto dark */
body.dark-mode .text-gray-600,
body.dark-mode .text-gray-700 {
    color: #e0e0e0;
}

/* Hover dark */
body.dark-mode .hover\:bg-gray-700:hover {
    background-color: #3d3d3d;
}

/* Hover experiencias dark */
body.dark-mode .hover\:bg-gray-50:hover {
    background-color: #111111;
}

.theme-button-container {
    position: sticky;
    top: 1rem;
    float: right;
    z-index: 50;
    margin-top: 1rem;
}

.header-container {
    /* Eliminar los "position: relative" que haya */
}


/* Filtros de portfolio */
.filter-btn.active {
    font-weight: bold;
    transform: scale(1.05);
}

.filter-btn[data-filter="all"].active {
    background-color: #4a5568 !important;
    color: white !important;
}


.skill-carousel-container {
    width: 400%; /* 4 slides = 400% */
}

.skill-slide {
    transition: opacity 0.3s ease;
}

.skill-category-btn.active {
    background-color: #4a5568; /* bg-gray-700 */
    color: white;
}

