/* Error 404 */

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    h1, h2{
        color: $menubg;
    }
}