/* Contact */

.contacto{
    height: 100%;
    margin: 200px;
    .enviar{
        margin-top: 20px;
        background-color: $menubg;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border: 5px solid $mainbg;
        border-radius: 10px;
    }
    .enviar:hover {
        border: 5px solid rgb(18, 88, 150);
    }
    .mensaje textarea{
        resize: none;
    }
    
}